.list-item {
  border-top: 1px solid #000;
  padding: 12px 0px;
  padding-bottom: 142px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  width: 30%;
  margin: auto;
}

.list-item__title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

.list-item i {
  color: #f44336;
  font-size: 23px;
  cursor: pointer;
}

.list-item__animated-loading {
  animation: colorate 1.5s linear infinite;
}

.list-item__loading {
  margin: 20px 0px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.list-item__faces {
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 30px;
  height: 70px;
}

.list-item__price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 700;
}

.advert-list-item {
  padding-bottom: 10px;
}

.list-item__advert-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 700;
}

.list-item__advert-description {
  color: rgba(0, 0, 0, 0.54);
}

@media (min-width: 700px) and (max-width: 1275px) {
  .list-item {
    padding-bottom: 163px;
  }

  .advert-list-item {
    padding-bottom: 10px;
  }
}

@media (min-width: 859px) and (max-width: 1100px) {
  .list-item {
    padding-bottom: 142.5px;
  }

  .advert-list-item {
    padding-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .list-item {
    width: 46.5%;
  }
}

@media (max-width: 700px) {
  .list-item {
    width: 100%;
  }
}





.product-card {
  width: 450px !important;
  height: 250px !important;
  margin: 25px !important;
  position: relative;
}

.product-card-face {
  text-align: center;
}

.product-footer {
  padding: 15px !important;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
}

.product-cart-fab {
  background-color: rgb(246,113,51) ! important;
  color: white !important;
}
.product-cart-fab:hover {
  background-color: rgb(218, 99, 45) ! important;
}

.ad-image {
  height: 150px !important;
  margin: 5px !important;
  max-width: inherit;
  max-height: 130px;
}