.product-card {
  width: 450px !important;
  height: 250px !important;
  margin: 25px !important;
  position: relative;
}

.product-card-face {
  text-align: center;
}

.product-footer {
  padding: 15px !important;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
}

.product-cart-fab {
  background-color: rgb(246,113,51) ! important;
  color: white !important;
}
.product-cart-fab:hover {
  background-color: rgb(218, 99, 45) ! important;
}

.ad-image {
  height: 150px !important;
  margin: 5px !important;
  max-width: inherit;
  max-height: 130px;
}